:root {
    --bg-color: #17171C;
    --color-white: #fff;
    --btn-num-bg-color:#2e2f38;
    --color-blue: #4B5EFC;
    --theme-light-bg: #F1F2F3;
    --light-btn-bg: #D2D3DA;
    --color-black: #000;
}

.page {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__block {
    max-width: 374px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__content {
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    background-color: var(--bg-color);
}

.icon__theme {
    cursor: pointer;
}

.number__block {
    display: flex;
    max-width: 280px;
    height: 64px;
    flex-direction: column;
    align-self: flex-end;
    gap: 16px;
}

.output {
    font-size: 48px;
    color: var(--color-white);
    overflow: hidden;
    max-width: 343px;
}

.btn__block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.btn__number {
    border-radius: 12px;
    background-color: var(--btn-num-bg-color);
    border: 1px solid var(--btn-num-bg-color);
    color: white;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    cursor: pointer;
} 

.blue {
    background-color: var(--color-blue);
}

.active {
    opacity: 0.7;
}

.light {
    background-color: var(--theme-light-bg);
    color: var(--color-black);
}

.light__btn {
    background-color: var(--light-btn-bg);
    color: var(--color-black);
    border: none;
}
